#  データの永続化
## SQLite
* 軽量データベースを実装するC言語のライブラリ
* サーバ用のプロセスを必要としない, 組み込み型のデータベースエンジン. 
* 単一のファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [2]:
# DBファイルの保存先パス
path = ''

# Google Colabの場合
# path = '/content/'

# DBファイルのパス
db_name = 'test.db'

# DB接続の確立
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

### テーブルを作成

In [ ]:
path = ''
db_name = 'car.db'

try: 
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # テーブルの作成
    sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL)'

    # SQLの実行
    cur.execute(sql)

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

## データをDBに挿入する（単一レコード）

In [6]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # データを挿入
    # INSERT INTO テーブル名 VALUES (列に対応したデータをカンマで区切りで）;
    # 文字列データを挿入する場合は、文字列をシングルクオテーションで挟む
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000)"

    # SQLの実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### データをDBに挿入する（複数行）

In [7]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # 複数レコードを挿入
    # INSERT INTO テーブル名 VALUES (列に対応したブレースホルダーをカンマ区切りで）;
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    cars = [
        (2, '911カレラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビックType-R', 5000000)
    ]

    # SQLの実行
    cur.executemany(sql,cars)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### DBのデータを参照する

In [12]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを参照するSQL
    # SELECT * FROM テーブル名;
    # *の部分は、取得したい列の名前を、区切りで指定することもできる.
    sql_select = "SELECT * FROM cars;"

    # SQLの実行
    cur.execute(sql_select)

    # 変更をDBに反映させる
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

else: 
    for row in cur: 
        id, name, price = row
        print(id, name, price)

finally:
    # DBへの接続を閉じる
    conn.close()

1 370z 7000000.0
2 911カレラ 5000000.0
3 GRスープラ 8000000.0
4 シビックType-R 5000000.0

### データの削除

In [13]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを参照するSQL
    # DELETE FROM テーブル名 WHERE id = 1; 
    sql = "DELETE FROM cars WHERE id = 1;"
    # sql = " DELETE FROM cars WHERE name = '911カレラ'; "
    # sql = "DELETE FROM cars WHERE name = '%カレラ'; "

    # SQLの実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### データの更新

In [11]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを参照するSQL
    # UPDATE テーブル名 SET カラム名=更新値 WHERE 更新したい行を指定する条件；
    sql = "UPDATE cars SET price = ? WHERE id = ?;"

    # SQLの実行
    cur.execute(sql, (5000000, 2))

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()